*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;
    width: 100vw;
}

#text {
    margin: 3px;
}

.container {
    margin: 1vh auto 0 auto;    
    width: 800px;
    max-width: 90%;
    background-color:lemonchiffon;
    padding: 10px;
    border-radius: 1px;
    font-size: large;
}

.btn {
    background-color: hsl(182, 88%, 61%);
    border: 6px hsla(180, 78%, 43%, 0.884);
    padding: 5px;
    margin: 3px;
    font-size: large;
}

img {
    object-fit: contain;
    height: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.balloons {
    position: fixed;
    display: block;
    margin: auto;
    height: 60%;
    width: 100%;
    bottom: 0;
    padding: 0;
    justify-content: center;
}
.switchmode {
    margin: auto;
    width: 100%;
    text-align: center;
}
